<p id="notice"><%= notice %></p>

<p>
  <strong>Текст:</strong>
  <%= @comment.body %>
</p>

<%= link_to t('common.edit'), edit_comment_path(@comment) %> |
<%= link_to t('common.back'), post_path(@comment.post_id) %>
